
@font-face {
  font-family: JetbrainsMono;
  src:  url('JetBrainsMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

p {
    display: inline
}

body{
    background-color: #2B2B2B;
}

.simple {
    font-family: JetbrainsMono;
    color : #A9B7C6;
}

.var {
    font-family: JetbrainsMono;
    color : #CC7832;
}

.keyword {
    font-family: JetbrainsMono;
    color : #CC7832;
}

.annotation {
    font-family: JetbrainsMono;
    color : #BBB529;
}